/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background: #0d0d0d;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

/* LOGO AREA */
.logo {
    display: flex;
    align-items: center;
}

/* LOGO IMAGE */
.logo img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    margin-right: 12px;
}

/* TEXT NEXT TO LOGO */
.logo-text h1 {
    margin: 0;
    font-size: 20px;
    color: white;
}

.logo-text span {
    font-size: 12px;
    color: orange;
}

/* NAV LINKS */
.navbar nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: orange;
}